.place__url-link {
	position: relative;

	display: block;

	font-size: 18px;
	line-height: 22px;	
	color: #fff;
	text-decoration: none;
}

.place__url-link:hover,
.place__url-link:focus {
	text-decoration: underline;
}

/* .place__url-link:hover::before,
.place__url-link:focus::before {
	content: '';

	position: absolute;
	left: 0;
	bottom: 0px;

	width: 100px;
	height: 2px;

	background-color: #fff;
} */

.place__url-link:hover,
.place__url-link:focus {
	opacity: .8;
}
