.footer__navigation-item {
	margin-right: 18px;
	list-style: none;
}

.footer__navigation-item:last-child {
	margin-right: 0;
}

@media screen and (max-width: 767px) {
	.footer__navigation-item {
		margin-bottom: 32px;
	}
}
