.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1178px;
	margin: 0 auto;
	padding-bottom: 24px;
}

@media screen and (max-width: 1279px) {
	.footer {
		width: calc(100% - 48px * 2);
	}
}

@media screen and (max-width: 768px) {
	.footer {
		width: calc(100% - 24px * 2);
	}
}

@media screen and (max-width: 320px) {
	.footer {
		display: block;
		max-width: 186px;
		margin: 0 auto 0 0;
		padding-left: 16px;
	}
}
