.intro-wrap {
	max-width: 984px;
}

@media screen and (max-width: 1279px) {
	.intro-wrap {
		width: calc(100% - 48px * 2);
	}
}

@media screen and (max-width: 768px) {
	.intro-wrap {
		width: calc(100% - 24px * 2);
	}
}

@media screen and (max-width: 768px) {
	.intro-wrap {
		width: calc(100% - 16px * 2);
	}
}


